body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* line-height: 1.4em; */
  background: #f5f5f5;
  color: #4d4d4d;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.container {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  font-weight: 300;
}

.formContainer {
  background-color: #fefefe;
  box-shadow: 1px 23px 28px -3px rgba(114, 114, 114, 0.2);
  border: solid 2px #dbdbdb;
  border-top: none;
}

.form {
  position: relative;
}

.input {
  width: 100%;
  height: 66px;
  background-color: transparent;
  padding: 16px 16px 16px 60px;
  border: none;
  font-size: 24px;
  color: #4d4d4d;
  border-bottom: solid 1px #e6e6e6;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  outline: none;
}

.input::placeholder {
  font-size: 24px;
  font-stretch: 100%;
  font-style: italic;
  color: #e6e6e6;
}

.btnSelectAll {
  position: absolute;
  top: 6px;
  left: 2px;
  display: inline-block;
  width: 54px;
  height: 54px;
  font-size: 22px;
  padding: 10px;
  transform: rotate(90deg);
  background-color: transparent;
  color: #e6e6e6;
  border: none;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.btnSelectAll.isSelect {
  color: #737373;
}

.todos {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todoItem {
  position: relative;
  width: 100%;

  padding: 15px 50px 15px 65px;
  line-height: 1.2;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  overflow-wrap: break-word;
}

.todoItem:first-child {
  border-top: 1px solid #ededed;
}

.todoItem.unactive {
  text-decoration: line-through;
  color: #d9d9d9;
}

.btnDel {
  position: absolute;
  top: 13px;
  right: 12px;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  background-color: transparent;
  border: none;
  margin-bottom: 11px;
  transition: color 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
  z-index: 5;
}

.btnDel::after {
  content: "×";
}

.todoItem:hover .btnDel {
  color: #af5b5e;
  opacity: 1;
  cursor: pointer;
}

.checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkboxIcon {
  position: absolute;
  top: 9px;
  left: 8px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: solid 2px #ededed;
  border-radius: 50%;
  cursor: pointer;
}

.checkbox:checked + .checkboxIcon {
  background-image: url("../assets/svg/ok.svg");
  background-size: contain;
  border: solid 2px #bddad5;
  border-radius: 50%;
}
.checkbox:checked > .todoItem {
  text-decoration: line-through;
}

.updateTodoInput {
  position: absolute;
  top: 0px;
  left: 60px;
  height: 100%;
  width: 89%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: 0px -2px 10px 3px rgba(34, 60, 80, 0.2) inset;
  box-sizing: border-box;
  background-color: #fefefe;
  z-index: 10;
}

.todoCounter {
  font-weight: 300;
  font-size: 14px;
  color: #777;
}

.footer {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.sortButtonList {
  margin: 0;
  padding: 0;
  display: inline-flex;
  margin-left: 90px;
  list-style: none;
}

.sortButton {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 250ms ease;
}

.sortButton:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.sortButton.activeSortButton {
  border-color: #efd5d5;
}

.btnClear {
  margin-left: auto;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
}

.btnClear:hover {
  text-decoration: underline;
}

.btnClear.isHidden {
  cursor: grab;
}

.updateTodoInput.isHidden {
  cursor: pointer;
  z-index: 0;
}

.fieldStatus.isHidden .checkboxIcon {
  cursor: grab;
}

.isHidden {
  opacity: 0;
}

.error.hidden {
  opacity: 0;
  visibility: hidden;
}

.error {
  position: absolute;
  top: 50px;
  right: 35px;
  padding: 10px 30px;
  max-width: 500px;
  width: 100%;
  margin: 10px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  font-size: 33px;
  opacity: 1;
  visibility: visible;
  background-image: url("../assets/svg/error_icon.svg");
  background-repeat: no-repeat;
  background-position: center right 3%;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;
}

.visible {
  display: none;
}

.authForm {
  padding: 31px 20px;
  background-color: #fefefe;
  box-shadow: 1px 23px 28px -3px rgb(114 114 114 / 20%);
  border: solid 2px #dbdbdb;
  border-top: none;
}

.authButton {
  display: inline-block;
  width: 100%;
  color: inherit;
  margin-top: 30px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid #efd5d5;
  border-radius: 10px;
  font-size: 30px;
  background-color: rgba(175, 47, 47, 0.15);
  cursor: pointer;
  transition: background-color 250ms ease;
}

.authButton:hover {
  background-color: rgba(175, 47, 47, 0.3);
}

.titleHello {
  color: #59db50;
}

.btnLogout {
  position: absolute;
  top: 132px;
  left: 61%;
}
